@import '../variable.css';

.wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0;
    left: 0;
    color: #fff;
    background: var(--color-primary);
    /*background-image: linear-gradient(-225deg,#3db0ef,#5e5bb7);*/
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
    will-change: left;
    transform-origin: right;
    transition: left .3s ease, width .3s ease;
}

.isOpen{
    /*width: calc(100% - 230px);
    left: 230px;*/
    width: 100%;
}

.container{
    display: flex;
    margin: 0 17px 0 5px;
    height: 100%;
    width: 100%;
    align-items: center;
}

.navButton{
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s linear
}

.navButton:hover{
    background: rgba(255,255,255,.15);
    transition: all .3s linear;
}
.navButton:active{
    background: rgba(255,255,255,.15);
}

.title{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 20px;
}

.title p{
    font-family: ''Source Sans Pro', sans-serif';
    font-size: 18px;
    font-weight: 300;
}

.search{
    justify-content: flex-end;
}
