@import '../../components/variable.css';

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}

.wrapp{
  width: 240px;
  margin: 20px;
}

.wrapper_card{
  width: 240px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #eee;
  padding: 10px;
  border-radius: 2px;
}