:root{
	/*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  /*
   * Layout
   * ======================================================================== */

  --color-primary: #4D86D4;
	--shadow-root: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}

.wrapperContainer{
  display: flex;
  width: 100%;
  max-width: var(--screen-md-min);
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 30px;
}