.nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid transparent;
  color: #e9e9e9;
  will-change: color, border-bottom-color, background;
  font-family: 'Helvetica';
  font-size: 15px;
  text-decoration: none;
  line-height: 48px;
  letter-spacing: 0.1px;
}

.link:hover{
  background: rgba(255,255,255,.15);
  transition: all .5s linear;
}

.active {
  color: #fff;
  border-bottom-color: #fff;
  background: rgba(255,255,255,.15);
  transition: color, border-bottom-color, background .3s linear;
}
