.wrapper{
    display: flex;
    position: relative;
    height: 48px;
    align-items: center;
    margin: 0 15px;
}

.expanded{
    height: 100%;
    display: flex;
    align-items: center;
}

.expanded input{
    display: flex;
    height: 30px;
    width: 280px;
    align-items: center;
    border: 0;
    border-radius: 2px;
    line-height: 30px;
    font-size: 13px;
    color: #333;
    background: #fcfafa;
    padding: 0 30px 0 10px;
    font-weight: 300;
    letter-spacing: 0.2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.15), 0 2px 2px 0 rgba(0,0,0,.25);
}

.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    color: #333;
    border-radius: 2px;
    opacity: .5;
}